.form-control:focus{

    box-shadow: none !important;
}

.input-form {
    font-family: Poppins,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;

    input, label {
        position: absolute;
        top: 0;
        padding-left: 0;
        outline: none;
    }

    input{
        height:56px;
        padding-left:10px;
        &:valid{
            box-shadow:0px 0px  10px green;
            border-color:green;
        }
    }

    input:focus {
        border-radius: 5px;
        padding: 15px 10px;
        top: 0;
        outline: none;
    }

    label {
        top: 14px;
        left: 5px;
        color: red;
        transition: all 0.3s ease;
    }

    input:focus + label, input:valid + label {
        top: -15px;
        left: 10px;
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid #b9bec2;
        padding: 0px 10px;
        color: green;
    }
}
