@using System.Linq.Expressions
@using System.ComponentModel.DataAnnotations;
@using System.Reflection;
@typeparam TValue;

<label class="@Class" for="@Id">
    @GetDisplayName()
</label>

@code {

    [Parameter, EditorRequired]
    public Expression<Func<TValue>> For { get; set; } = null!;

    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public string? Class {get; set;}

    private string GetDisplayName()
    {
        var expression = (MemberExpression)For.Body;
        var attribute = expression.Member.GetCustomAttribute<DisplayAttribute>();
        return attribute?.Name ?? expression.Member.Name;

    }

}
